/* BloodBanks.module.css */

.blood-banks-container {
  padding: 20px;
  background-color: #f5f5f5; /* Light gray background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto; /* Center container */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: auto; /* Centering the table */
  margin-right: auto; /* Centering the table */
}

thead th {
  background-color: #e06f12; /* Header background color */
  padding: 10px;
  text-align: center; /* Center text within header cells */
  font-weight: bold;
  border-bottom: 2px solid #74152c; /* Bottom border color */
}

tbody tr {
  border-bottom: 1px solid #0323b3; /* Row border color */
}

tbody td {
  padding: 10px;
  text-align: center; /* Center text within cells */
}

tbody tr:nth-child(even) {
  background-color: #2fe47b98; /* Light green for even rows */
}

tbody tr:hover {
  background-color: #a10606; /* Dark red on hover */
}

tbody td:first-child {
  font-weight: bold;
  color: #2c3e50; /* Dark text for first column */
}
