/* NeedyPeople.module.css */

.needy-people-container {
  padding: 20px;
  background-color: palevioletred;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(185, 19, 19, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  color: #e01d1d;
  font-size: 24px;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead th {
  background-color: #e06f12;
  padding: 10px;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #74152c;
}

tbody tr {
  border-bottom: 1px solid #0323b3;
}

tbody td {
  padding: 10px;
  text-align: left;
}

tbody tr:nth-child(even) {
  background-color: #2fe47b98;
}

tbody tr:hover {
  background-color: #a10606;
}

tbody td:first-child {
  font-weight: bold;
  color: #2c3e50;
}
