.footer-container {
    background-color: #dbbf1e;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    color: #1677c7;
  }
  
  .footer-content a {
    margin: 0 10px;
    text-decoration: none;
    color: #a81187; /* Bootstrap primary color */
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  